.object, .page-object, .split-object {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: absolute;
}
.context-menu {
  background-color: gray;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.context-menu-component {
  user-select: none;
}
.context-menu-component:not(.scale, .rotate, .layer, .page) {
  background-color: lightgray;
  border: 1px solid gray;
  border-top: none;
  border-bottom: none;
  margin-top: 1px;
  margin-bottom: 1px;
  font-family: DinaRemaster;
  text-align: left;
  font-size: 18px;
  position: relative;
  width: 200px;
  height: 20px;
  transition: 0.2s ease-in-out;
}

.context-menu-component:hover:not(.scale, .rotate, .layer, .page){
  background-color: black;
  color: white;
}

.scale, .rotate, .layer, .page {
  position: relative;
  float: right;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 20px;
  border-radius: 50%;
  height: 20px;
  line-height: 20px;
  user-select: none;
}

.scale:hover, .rotate:hover, .layer:hover, .page:hover {
  font-size: 25px;
}
.scale:active, .rotate:active, .layer:active, .page:active {
  font-size: 20px;
}
.fixed-view {
  height: 90%;
  width: auto;
  max-width: 90%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: 1000;
}
.split-fixed-view {

  position: fixed;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: 1000;
}
.fixed-view-button {
  position: fixed;


  border: none;
  left: 100%;
  transform: translateX(-100%);
  background-color: red;
  font-size: 50px;
  text-align: center;
  font-family: DinaRemaster;

  z-index: 1000;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: 0.2s ease-in-out;
}
.fixed-view-button:hover {
  background-color: black;
  color: white;
}

body {
  margin: 0;
}

.deck {
  box-shadow: 10px 10px 10px gray;
}